node_modules
typechain
target
tests/test-runner/Cargo.lock
tests/dockerfile/gravity.tar.gz
solidity/dist
orchestrator/bins
oldgravity

# IDE files
.idea/

#Hardhat files
cache
artifacts
*.test
*-stamp

#build artifacts
/module/artifacts

build

# data folder 
data/validator*/data/*
data/validator*/config/write-file*
data/validator*_backup/
data/validator*/U*
data/validator*/config/addrbook.json

upgrade-tests/data*
upgrade-tests/exported-genesis-new.json