node_modules
typechain
target
tests/test-runner/Cargo.lock
tests/dockerfile/gravity.tar.gz
solidity/dist
orchestrator/bins
oldgravity

# IDE files
.idea/

#Hardhat files
cache
artifacts
*.test
*-stamp

#build artifacts
/module/artifacts

build

# data folder 
e2e/*/validator*/data/
e2e/*/validator*/config/write-file*
e2e/*/validator*_backup/
e2e/*/validator*/U*
e2e/*/validator*/config/addrbook.json

e2e/.*/data/
e2e/.*/config/write-file*
e2e/.*/config/addrbook.json

upgrade-tests/data*
upgrade-tests/exported-genesis-new.json

tmp

.DS_Store