node_modules
typechain
target
tests/test-runner/Cargo.lock
tests/dockerfile/gravity.tar.gz
solidity/dist
orchestrator/bins
oldgravity

# IDE files
.idea/

#Hardhat files
cache
artifacts
*.test
*-stamp

#build artifacts
/module/artifacts
