# Orchestrator configuration options
[orchestrator]
# If the built-in relayer is enabled, this relayer is configured in the [relayer] section
relayer_enabled = false

# Relayer configuration options
[relayer]
# If we check profitability before relaying
valset_market_enabled = false
batch_market_enabled = true
logic_call_market_enabled = true
# If we relay every possible valset, only applicable when not checking
# for profitability
relay_every_valset = false

[metrics]
metrics_enabled = true
metrics_bind = "127.0.0.1:6631"
